{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "proseWrap": "preserve",
    "insertPragma": false,
    "requirePragma": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}